body, html {
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.header .navigation a,
.header .rent-now-btn {
    color: #000000;
}

.header .rent-now-btn {
    background: #000000;
    color: #FFFFFF;
}

.item-content {
    padding-top: 150px;
    display: flex;
    flex-grow: 1;
}

.item-content .container {
    max-width: 1740px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-info h1 {
    font-family: 'Castoro Titling', serif;
    font-size: 35px;
    font-weight: 400;
    color: #512730;
    margin-left: 8px;
}

.item-info .item-year {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #512730;
}

.item-info .item-brand {
    font-family: 'Cinzel', serif;
    font-size: 100px;
    font-weight: 400;
    color: #512730;
    line-height: 100px;
}

.item-specs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}


.spec {
    text-align: right;
    margin-bottom: 20px;
}

.spec h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #000000;
}

.spec p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}



.item-image {
    width: 100%;
    max-width: 1011px;
    margin: -100px auto 0;
    position: relative;
    padding-top: 56.25%;
    padding: 100px 0 0 0;
    overflow: visible;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 1200px) {
    .item-image {
        margin: 300px auto 0;
    }
}

@media (max-width: 724px) {
    .item-image {
        margin: 300px auto -200px;
    }
}

.item-image:hover {
    transform: scale(1.05);
}

.item-image img {
    position: absolute;
    top: 0;
    left: 0;
    margin: -250px 0 0 0;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.gallery-title, .about-title {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 30px;
}

.item-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.item-gallery img {
    width: calc(25% - 15px);
    height: auto;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.item-gallery img:hover {
    transform: scale(1.05);
}

.item-description {
    width: 100%;
}

.item-description p {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 20px;
    text-align: justify;
}

.footer {
    margin-top: 125px;
}

@media (max-width: 1440px) {
    .item-info .item-brand {
        font-size: 80px;
        line-height: 108px;
    }

    .spec h3 {
        font-size: 28px;
    }

    .spec p {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .item-header {
        flex-direction: column;
    }

    .item-specs {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
    }

    .spec {
        text-align: center;
        margin-bottom: 0;
    }

    .item-gallery {
        flex-wrap: wrap;
    }

    .item-gallery img {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .item-info .item-brand {
        font-size: 60px;
        line-height: 81px;
    }

    .item-specs {
        flex-wrap: wrap;
    }

    .spec {
        width: 50%;
        margin-bottom: 20px;
    }

    .item-gallery img {
        width: 100%;
    }
}
